.about-us {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__content {
    grid-column: 1 / -1;
    width: 280px;

    @include on-tablet {
      grid-column: 4 / 7;
      width: 288px;
    }

    @include on-desktop {
      grid-column: 6 / -1;
      width: 516px;
    }

    display: flex;
    flex-direction: column;
  }

  &__adress {
    padding: 0;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__open {
    display: flex;
    gap: 24px;

    &__time {
      display: grid;
      row-gap: 8px;

      padding: 0;
      margin: 0;
      margin-bottom: 16px;

      list-style: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }

    &__day {
      display: grid;
      row-gap: 8px;

      padding: 0;
      margin: 0;
      margin-bottom: 16px;

      list-style: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__closed {
    padding: 0;
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__closed-day {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
