.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 50px;
  }

  &__hover-numbers {
    position: absolute;
    right: calc(100% + 16px);
    top: 50%;
    display: grid;
    row-gap: 8px;
    transform: translateY(calc(-50% - 10px));
    opacity: 0;
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  &__hover-number {
    display: none;
    text-decoration: none;
    color: $header-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: right;

    @include hover(color , #D3D3D3);

    @include on-desktop {
      display: block;
    }
  }

  &__phone {
    position: relative;

    &:hover .top-bar__hover-numbers {
      transform: translateY(-50%);
      opacity: 1;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 46px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 64px;
    }
  }
}

